* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    text-align: center;
    font-size: 5.8em;
    padding-left: 50px;
    letter-spacing: 0.65em;
    color: #ff883f;
    
}

.container {
    background-color: aliceblue;
    border-radius: 10px;
    width: 50%;
    margin: 100px auto;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.45);
}

#taskList{
    width: 80%;
    font-size: 1.75em;
    list-style: none;
}

#taskList i {
    cursor: pointer;
}

.task {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid grey;
}

.check {
    color: #e0e0e0;
    margin-right: 20px;
}
.task i.deleteBtn {
    margin-left: auto;
}

#addTask {
    font-size: 1.25em;
    width: 200px;
    margin: 10px 0 20px;
}

.completedCheck {
    color: #28a745;
}

.completedText {
    color: #cecece;
    text-decoration: line-through;
}

.deleteBtn {
    color: red;
    padding-left: 10px;
}

#addTaskDiv {
    width: 70%;
    margin: 30px 0 15px;
}

.addInput {
    width: 150px;
}